<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div>
                        <img src="assets/img/floris.png" alt="" style="width: 150px">
                    </div>
                    <h1 class="presentation-title">Floris Alexandrou</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Software Developer | AI Researcher</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="container">
        <div class="nav-tabs-navigation mb-5">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="Education & Courses">
                        <ng-template ngbTabContent>
                            <div class="text-left overflow-hidden">
                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/uclan.jpg"></div>
                                    <div class="col-xl-6 col-sm-12">
                                        <span class="font-weight-bold">University of Central Lancashire (Cyprus)</span>
                                        <br />
                                        <span>BSc (Hons) Computing - First Class Honours</span> <br />
                                        <span class="text-black-50">2017 - 2021</span> <br /> <br />
                                        <span class="text-muted">Specialized in Software Engineering while having
                                            working knowledge of Game Development and an understanding of Networking
                                            technologies.</span> <br /> <br />
                                            <span><strong>Thesis:</strong> Consumer and Retail Research Analytics Using
                                                Natural Language Processing (Mercury NLQS) </span>
                                    </div>
                                    <div class="col-4">
                                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/8mS2XTDGO4s" title="YouTube video player"
                                            frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-left" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/opencv-1.png"></div>
                                    <div class="col-xl-7 col-sm-12">
                                        <span class="font-weight-bold">Computer Vision 1: Introduction</span>
                                        <br />
                                        <span class="text-black-50">06/2019 - 12/2019</span> <br /> <br />
                                        <div class="d-flex align-items-center">
                                            <span class="text-muted">
                                                This course is designed to build a strong foundation in Computer Vision.
                                                Solid understanding of all the tools in OpenCV for Image Processing,
                                                Computer Vision, Video Processing and the basics of AI.
                                            </span>
                                            <a href="https://opencv.org/courses/" target="_blank">
                                                <i class="fa fa-external-link fa-lg ml-3" placement="right"
                                                    ngbTooltip="View Course"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/opencv-2.png"></div>
                                    <div class="col-xl-7 col-sm-12">
                                        <span class="font-weight-bold">Computer Vision 2: Applications</span>
                                        <br />
                                        <span class="text-black-50">11/2019 - 06/2020</span> <br /> <br />
                                        <div class="d-flex align-items-center">
                                            <span class="text-muted">
                                                Covered substantial amount of Machine Learning and the basics of Deep
                                                Learning. Created and deployed various Computer Vision applications such
                                                as face recognition, object detection and optical character recognition.
                                            </span>
                                            <a href="https://opencv.org/courses/" target="_blank">
                                                <i class="fa fa-external-link fa-lg ml-3" placement="right"
                                                    ngbTooltip="View Course"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-left" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/opencv-3.png"></div>
                                    <div class="col-xl-7 col-sm-12">
                                        <span class="font-weight-bold">Deep Learning with PyTorch</span>
                                        <br />
                                        <span class="text-black-50">04/2020 - 11/2020</span> <br /> <br />
                                        <div class="d-flex align-items-center">
                                            <span class="text-muted">
                                                Theoretical understanding of Simple, Deep and Convolutional Neural
                                                Networks.
                                                Practical considerations needed to successfully train Deep Neural
                                                Networks. These include how to prepare datasets, how to perform sanity
                                                checks before embarking on training that can take hours, how to use
                                                visualization tools to debug the training process, what workflows to use
                                                when the results are not satisfactory, and finally how to deploy the
                                                networks on the cloud.

                                            </span>
                                            <a href="https://opencv.org/courses/" target="_blank">
                                                <i class="fa fa-external-link fa-lg ml-3" placement="right"
                                                    ngbTooltip="View Course"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/logo-color-intel.png"></div>
                                    <div class="col-xl-7 col-sm-12">
                                        <span class="font-weight-bold">Udacity Intel Edge AI Scholarship Foundation
                                            Course</span>
                                        <br />
                                        <span class="text-black-50">12/2019 - 03/2020</span> <br /> <br />
                                        <div class="d-flex align-items-center">
                                            <span class="text-muted">

                                                Learned how to use the Intel Distribution of OpenVINO toolkit to deploy
                                                computer vision applications at the network edge for the Internet of
                                                Things.

                                            </span>
                                            <a href="https://www.udacity.com/scholarships/intel-edge-ai-scholarship" target="_blank">
                                                <i class="fa fa-external-link fa-lg ml-3" placement="right"
                                                    ngbTooltip="View Course"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Experience">
                        <ng-template ngbTabContent>
                            <div class="text-left overflow-hidden">
                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/techlink.jpg"></div>
                                    <div class="col-xl-7 col-sm-12">
                                        <span class="font-weight-bold">Software Developer</span>
                                        <br />
                                        <span>D.G Techlink Ltd</span> <br />
                                        <span class="text-black-50">06/2020 - Present</span> <br /> <br />
                                        <span class="text-muted">Full-Stack software development applying best practices
                                            in all parts of the applications. Working with SQL Server, .Net
                                            Framework/.Net Core, Angular, Angular Material </span> <br /> <br />
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-left" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/inspire.jpg"></div>
                                    <div class="col-xl-6 col-sm-12">
                                        <span class="font-weight-bold">Research Internship</span>
                                        <br />
                                        <span>inSPIRE - UCLan Cyprus</span> <br />
                                        <span class="text-black-50">02/2021 - 05/2021</span> <br /> <br />
                                        <span class="text-muted">
                                            Developed an Intelligent Multi-Agent Immersive Virtual Museum Supporting
                                            Cultural Heritage.
                                            Achieved 2nd place in the 1st IEEE International Conference on Intelligent
                                            Reality <a href="https://icir.ieee.org/" target="_blank">(ICIR)</a> student
                                            competition.
                                            Environment and game AI techniques developed using Unity3D.
                                            Natural language processing techniques implemented through Microsoft
                                            Cognitive Services
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <iframe width="auto" height="auto"
                                            src="https://www.youtube.com/embed/VicvmPAWn7k" title="YouTube video player"
                                            frameborder="1"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/cyi.jpg"></div>
                                    <div class="col-xl-6 col-sm-12">
                                        <span class="font-weight-bold">Research Internship</span>
                                        <br />
                                        <span>The Cyprus Institute</span> <br />
                                        <span class="text-black-50">08/2020 - 10/2020</span> <br /> <br />
                                        <span class="text-muted">
                                            Classification of Influenza Hemagglutinin Protein Sequences using
                                            Convolutional Neural Networks.
                                            Data obtained from the National Center for Biotechnology Information.
                                            Used BioPython for data preparation and TensorFlow for model development and
                                            trained on Google Colab.
                                        </span>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                                <div class="row" data-aos="fade-left" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/fesb.png"></div>
                                    <div class="col-xl-6 col-sm-12">
                                        <span class="font-weight-bold">Computer Vision Engineer Internship</span>
                                        <br />
                                        <span>FESB - Faculty of Electrical Engineering, Mechanical Engineering and Naval
                                            Architecture</span> <br />
                                        <span class="text-black-50">09/2019 - 10/2019</span> <br /> <br />
                                        <span class="text-muted">
                                            Development and training of convolutional neural networks for image
                                            classification and object detection.
                                            Final solution utilized YOLOv3 darknet which was trained for 10.000 epochs
                                            on Google Colab.
                                            A total of 3161 images obtained via google image web scraping and from <a
                                                href="https://github.com/garythung/trashnet"
                                                target="_blank">Garythung</a> .
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <iframe width="auto" height="auto"
                                            src="https://www.youtube.com/embed/BpZKy7f5hCU" title="YouTube video player"
                                            frameborder="1"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />


                                <div class="row" data-aos="fade-right" data-aos-duration="750">
                                    <div class="col-2 pr-0"><img class="img-fluid" style="width: 150px"
                                            src="assets/img/national_guard.png"></div>
                                    <div class="col-xl-6 col-sm-12">
                                        <span class="font-weight-bold">Military Service - Sergeant</span>
                                        <br />
                                        <span>Cyprus National Guard</span> <br />
                                        <span class="text-black-50">07/2015 - 01/2017</span> <br /> <br />
                                        <span class="text-muted">
                                            As a sergeant, I was responsible to schedule the duties of my company.
                                            As an instructor, I was responsible for the training of the recruits during
                                            their first months at the unit.

                                        </span>
                                    </div>
                                </div>

                                <br />
                                <hr /> <br />

                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Projects">
                        <ng-template ngbTabContent>
                            <div class="card-columns">
                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[0]">
                                    <img src="assets/img/kenyan-food.png" class="img-fluid zoomable"
                                        (click)="zoomImage(0)">
                                    <p class="font-weight-bold">Kaggle Competition: Kenyan food image classification
                                    </p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://github.com/FAlexandrou97/ImageClassification-13KenyanFood-PyTorch"
                                        target="_blank">
                                        <i class="fa fa-github fa-2x"></i>
                                        <p class="d-lg-none">GitHub</p>
                                    </a>
                                    <p>Built an image classifier using PyTorch and achieved 73.5% accuracy on the Kaggle
                                        test set</p>
                                </div>

                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[1]">
                                    <img src="assets/img/football-project.png" class="img-fluid zoomable"
                                        (click)="zoomImage(1)">
                                    <p class="font-weight-bold">OpenCV combination of real-time object detection and
                                        tracking</p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://github.com/FAlexandrou97/OpenCV/tree/master/Python/Computer_Vision_1/Projects/Week10/Project4"
                                        target="_blank">
                                        <i class="fa fa-github fa-2x"></i>
                                        <p class="d-lg-none">GitHub</p>
                                    </a>
                                    <p>Used pre-trained detector and tracker, implemented logic to enhance robustness
                                    </p>
                                </div>

                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[2]">
                                    <img src="assets/img/frogger.png" style="height: 250px;" class="img-fluid zoomable"
                                        (click)="zoomImage(2)">
                                    <p class="font-weight-bold">UCLan Cyprus Summer Hacker Challenge 2019: Remake of the
                                        arcade game Frogger in 2D</p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://github.com/FAlexandrou97/PythonTraining/tree/master/pygame"
                                        target="_blank">
                                        <i class="fa fa-github fa-2x"></i>
                                        <p class="d-lg-none">GitHub</p>
                                    </a>
                                    <p>Created this game using the PyGame library in order to solidify my OOP knowledge
                                        in Python
                                    </p>
                                </div>


                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[3]">
                                    <img src="assets/img/android.png" class="img-fluid zoomable" (click)="zoomImage(3)">
                                    <p class="font-weight-bold">Music Fans: Android Application</p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://github.com/FAlexandrou97/CO2508/tree/master/FlorisAssignment"
                                        target="_blank">
                                        <i class="fa fa-github fa-2x"></i>
                                        <p class="d-lg-none">GitHub</p>
                                    </a>
                                    <p>
                                        Created based on Human-Computer interaction principles and consumes the <a
                                            href="https://developer.musixmatch.com/">musixmatch</a> API. Developed with
                                        Android, Room, Volley and Gson.
                                    </p>
                                </div>

                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[4]">
                                    <img src="assets/img/interactive.png" class="img-fluid zoomable"
                                        (click)="zoomImage(4)">
                                    <p class="font-weight-bold">SoundBound: Music Streaming Application
                                    </p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://vesta.uclan.ac.uk/~falexandrou/" target="_blank">
                                        <i class="fa fa-external-link fa-lg"></i>
                                        <p class="d-lg-none">Demo</p>
                                    </a>
                                    <p>
                                        Implemented various features such as authentication and authorization, custom
                                        playlists, recommendation and search engine. Developed with vanilla PHP, MySQL
                                        and Bootstrap 4
                                    </p>
                                </div>

                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[5]">
                                    <img src="assets/img/graphics.png" class="img-fluid zoomable"
                                        (click)="zoomImage(5)">
                                    <p class="font-weight-bold">DirectX Computer Graphics Project</p>
                                    <a class="nav-link" rel="tooltip" data-placement="bottom"
                                        href="https://github.com/FAlexandrou97/Computer-Graphics-Project"
                                        target="_blank">
                                        <i class="fa fa-github fa-2x"></i>
                                        <p class="d-lg-none">GitHub</p>
                                    </a>
                                    <p>Low-level implementation of various graphics techniques with the use of Direct3D
                                        API
                                    </p>
                                </div>

                                <div class="card border rounded click-zoom mt-2 p-3 overflow-auto" data-aos="zoom-in-up"
                                    data-aos-duration="750">
                                    <input type="checkbox" [checked]="zoomedImages[6]">
                                    <img src="assets/img/ar.png" class="img-fluid zoomable" (click)="zoomImage(6)">
                                    <p class="font-weight-bold">wARzone: Augmented Reality Game For the Visually
                                        Impaired</p>
                                    <br />
                                    <p>Implemented using Unity3D, Photon, ARFoundation and Google ARCore Cloud Anchors.
                                    </p>
                                </div>

                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Other WIP">
                        <ng-template ngbTabContent>
                            <p>Here are your messages.</p>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>